html, body {
    position: relative;
    /* width: 100%; */
    /* min-height: 100vh; */
    line-height: 1.5;
    background-color: #888;
}

body {
    color: #2E170E;
    font-family: Verdana, Geneva, sans-serif;
}

/* a few css resets */
*, *::before, *::after {
    box-sizing: border-box;
}
ul[class], ol[class] {
    padding: 0;
}
body, h1, h2, h3, h4, p, ul[class], ol[class] {
    margin: 0;
}
ul[class], ol[class] {
    list-style: none;
}

a {
    color: rgb(0,100,200);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rgb(0,80,160);
}

input, button, select, textarea {
    color: #2E170E;
    font: inherit;
    padding: 0.4em;
    /* margin: 0 0 0.5em 0; */
    margin: 0;
    border: 2px solid #2E170E80;
    border-radius: 5px;
    background-color: #DDD;
    outline: none;
    &:focus {
        border-color: #2E170E;
    }
}

input[type="checkbox"], label.checkbox, select, button {
    cursor: pointer;
}

select {
    min-width: 10em;
    margin: 0;
}

h1, h2, h3 {
    color: #2E170ED5;
}

input:disabled {
    color: #ccc;
}

button {
    min-width: 4.5em;
}
button:hover {
    background-color: #fff;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}
