html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #555;
}

pre {
    line-height: 0.6em;
    font-weight: 100;
    letter-spacing: 0em;
    font-size: 200%;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: #999;
    padding: 15px;
}

.hex-canvas {
    background-color: black;
}

.infobar {
    padding: 7px;
    background-color: #BBB;
    min-width: 16em;
}
